body {
  color: white;
  background-color: #CF9FFF;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  min-width: 400px;
}

.contact, .home, .about, .projects, .project-page {
    text-align: center;
}

#home-to-about, #about-to-projects, #projects-to-contacts, #contact-to-home {
  font-size: larger;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 5vh;
  right: 5vw;
}

.contact, .about{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
  max-height: 150vh;
  position: relative;
}

.projects-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  margin-bottom: 3em;
}

.projects-main > .flex-row-p,
.projects-main > .flex-row-reverse-p {
  flex: 1;
}

.contact ul li a{
  color: #FFFFFE;
}

.home ul{
  width: 100%;
}

.home h1 {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#linkedin {
  font-size: 1.5em;
  font-weight: bold;
}

#profile {
  font-size: 1.5em;
  font-weight: bold;
}

#github {
  font-size: 1.5em;
  font-weight: bold;
}

.contact ul, .home ul {
    padding-left: 0;
}

#home-header {
  display: grid;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
  list-style: none;
}

.contact li{
  display: grid;
  text-align: center;
  width: 30em;
  margin: 0 auto;
  list-style: none;
}

.contact a {
    color: black;
    text-decoration: none;
    padding-bottom: 2em;
    padding-top: 2em;
    font-size: larger;
    transition: color 0.5s;
}

.contact a:hover {
  color: #A34BFD;
  cursor: pointer;
  outline: 1px solid #FFFFFE;
  outline-offset: 2px;
  border-radius: 5px;
}

.contact a:visited {
    text-decoration: none;
  }

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

span:hover {
  animation: bounce 1.5s infinite;
  cursor: pointer;
  color: #A34BFD;
  outline: 1px solid #FFFFFE;
  outline-offset: 2px;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
}

p {
  font-size: large;
  line-height: 1.5;
  text-indent: 3em;
  text-align: justify;
}

.about-p {
  font-size:larger;
  text-align: justify;
  margin-left: 5em;
  margin-right: 5em;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#about-to-home, #projects-to-about, #contact-to-projects {
  font-size: larger;
  position: absolute;
  display: flex;
  align-items: center;
  top: 5vh;
  right: 5vw;
}

.journey {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
  margin-right: 5em;
  max-height: 40vh;
}

.flex-row-reverse-p {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 2em;
  margin-left: 5em;
  max-height: 40vh;
}

.flex-row-p h2, .flex-row-reverse-p h2 {
  text-align: center;
}

.flex-row-p img {
  margin-right: 1em;
  margin-left: 5em;
  width: 40vw;
  max-height: 40vh;
  border: 0.2em solid #A34BFD;
  border-radius: 1.5em;
  box-shadow: 0px 0px 10px #A34BFD;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.flex-row-reverse-p img {
  margin-left: 1em;
  margin-right: 5em;
  width: 40vw;
  max-height: 40vh;
  border: 0.2em solid #A34BFD;
  border-radius: 1.5em;
  box-shadow: 0px 0px 1em #A34BFD;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.flex-row-p img:hover, .flex-row-reverse-p img:hover,
.flex-row-p img:focus, .flex-row-reverse-p img:focus {
  transform: scale(1.3);
  position: relative;
  z-index: 2;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFFFFE;
  font-size: large;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-container button {
  transition: color 0.2s ease-in-out;
}

.button-container button:hover{
  color: #A34BFD;
  cursor: pointer;
  outline: 1px solid #FFFFFE;
  outline-offset: 2px;
  border-radius: 5px;
}

.home ul {
  list-style-type: none;
  padding: 0;
}

.home li {
  text-align: center;
}

.nav-links{
  display: flex;
  flex-direction: row;
}

.nav-links span {
  margin: 2em;
  font-size: larger;
  display: flex;
  transition: color 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .about-p {
    margin-left: 1em;
    margin-right: 1em;
  }
  .about{
    font-size: small;
  }
  .about h1{
    font-size: large;
  }

  #projects {
    margin: 1em;
  }

  #projects p{
    font-size: small;
  }
  #projects span {
    font-size: medium;
  }

  #projects h2{
    font-size: 80%;
  }

  .flex-row-reverse-p{
    margin-left: 0;
  }

  .flex-row-reverse-p img{
    display: none;
  }

  .flex-row-p{
    margin-top: 0em;
    margin-right: 0;
  }

  .flex-row-reverse-p{
    margin-top: 0em;
    margin-right: 0;
  }

  .flex-row-p img{
    display: none;
  }
  .button-container {
    top: 0;
  }

  .button-container button {
    margin-top: 0em;
    font-size: 85%;
  }
  
  .home {
    margin-left: 1em;
    margin-right: 1em;
    font-size: small;
  }
  #home-header {
    font-size: large;
    margin: 0;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
  }
  .nav-links span {
    font-size: small;
    margin: 0.5em;
  }

  #linkedin, #profile, #github {
    font-size: medium;
  }

  #contact span {
    font-size: medium;
  }
}
