nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  
  nav li {
    display: inline-block;
    /* margin-right: 1.5em; */
    position: relative;
    font-size: large;
  }
  
  nav a {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav a:hover,
  nav li.active > a {
    color: #fff;
    background-color: #333;
  }
  
  nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    height: 0;
    overflow: hidden;
    transition: height 1s ease-out;
  }

  nav li:hover > ul,
  nav li.active > ul {
    height: auto;
  }
  
  nav ul ul li {
    margin: 0;
    padding: 0.5em 0em;
  }
  
  nav ul ul li a {
    color: #fff;
    text-decoration: none;
  }


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 3em;
    /* background-color: ; */
}
  
.contact, .home, .about, .projects, .project-page {
    margin-top: 1em;
    text-align: center;
}

.contact, .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}  

/* .home h2{
  transition: transform 0.2s ease-in-out;
} */

.home h2 {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#linkedin {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

#profile {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

#github {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}



.home h2:hover {
  transform: scale(1.1);
}


.contact ul, .home ul {
    padding-left: 0;
}

.home li{
  display: grid;
  text-align: center;
  margin: 5em;
  list-style: none;
}

.contact li{
  display: grid;
  text-align: center;
  width: 20em;
  margin: 0 auto;
  list-style: none;
}

.contact a {
    color: #0B090A;
    text-decoration: none;
    padding-bottom: 2em;
    padding-top: 2em;
}

.contact a:hover{
    background-color: #F5F3F4;
    color: #0B090A;
}

.contact a:visited {
    text-decoration: none;
  }

.about h4 {
  text-align: center;
  margin-left: 5em;
  margin-right: 5em;
}


/* .p-1, .p-2, .p-3 {
  display: none;
} */

/* .section-hidden{
  display: none;
} */

p {
  font-size: large;
  line-height: 1.5;
  text-indent: 3em;
  text-align: justify;
  margin-left: 5em;
  margin-right: 5em;
}

.about-p {
  text-align: justify;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 2em;
}

.flex-row-reverse p {
  margin-left: 10em;
  margin-right: 5em;
}

.flex-row p {
  margin-right: 10em;
  margin-left: 5em;
}

.flex-row img {
  margin-right: 1em;
  margin-left: 5em;
  width: 300px;
  height: 300px;
}

.flex-row-reverse img {
  margin-left: 1em;
  margin-right: 5em;
  width: 300px;
  height: 300px;
}

